
body,
html {
    width: 100%;
    height: 100%;
    overflow: auto
}

body {
    color: #232e38;
    margin: 0 !important;
    padding: 0 !important;
    font-family: ColfaxWeb, Helvetica, Arial, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #555;
    font-weight: 400;
    font-family: ColfaxWeb, Helvetica, Arial, sans-serif
}

h1 {
    font-size: 35px
}

a:not(.btn) {
    color: #009e74
}

a:not(.btn):hover {
    color: #10806f;
    text-decoration: none
}

a:focus {
    text-decoration: none
}

ol,
ul {
    margin: 15px 0;
    padding: 0;
    list-style-type: none
}

ol li,
ul li {
    margin: 10px 0
}

.bulleted {
    list-style-type: disc
}

.numbered {
    list-style-type: decimal
}

ul.bulleted {
    list-style-type: square;
    padding: 0 15px
}

hr {
    border-color: #ccc
}

hr.thin {
    margin: 0
}

.overflow {
    overflow: visible !important
}

.underline {
    text-decoration: underline
}

.above0 {
    margin-top: 0
}

.below0 {
    margin-bottom: 0
}

.noborder {
    border: none !important
}

.dl-vertical dd {
    margin-bottom: 15px
}

.ui-widget {
    font-size: .9em
}

.empty {
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: left;
    font-weight: 300;
    color: #909599
}

.empty.text-center {
    text-align: center
}

html.placeholder label.placeholder {
    display: none
}

.required:after {
    content: '*';
    color: #fb8a76
}

label.left {
    text-align: left;
    font-weight: 400
}

label.left input[type=checkbox] {
    margin-top: 0
}

.lightweight-label {
    font-weight: 400
}

::selection {
    background: rgba(75, 148, 217, .15);
    text-shadow: none
}

::-moz-selection {
    background: rgba(75, 148, 217, .15);
    text-shadow: none
}

code {
    background-color: #fafbfc;
    color: #034752;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 700
}

p.lead {
    font-family: ColfaxWeb, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #5a6873;
    letter-spacing: 0;
    line-height: 24px
}

.row {
    margin: 0
}

.row.no-margin {
    margin: 0 -15px
}

.container {
    padding: 0 15px
}

.well {
    line-height: 1.65em;
    font-size: 1.1em;
    padding: 15px 30px;
    background: #f3f5f7
}

.btn-toolbar {
    margin: 0 0 15px 10px
}

.form-group.slim {
    margin-bottom: 5px
}

.form-group.slim input[type=checkbox],
.form-group.slim input[type=radio] {
    margin-top: 0
}

.form-group.indent {
    padding-left: 15px
}

.dropdown-menu {
    background: #fff;
    padding: 5px 0;
    border-color: rgba(0, 0, 0, .1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.dropdown-menu>li {
    margin: 1px 0 0
}

.dropdown-menu>li>a,
.dropdown-menu>li>a:active,
.dropdown-menu>li>a:visited {
    background: #fff;
    color: #313538;
    padding: 5px 15px;
    font-size: 13px;
    font-weight: 400;
    border: none;
    font-family: ColfaxWeb, Helvetica, Arial, sans-serif
}

.dropdown-menu>li>a:hover {
    background: #f5f8fa;
    color: #313538
}

.dropdown-menu>li.active>a,
.dropdown-menu>li.active>a:active,
.dropdown-menu>li.active>a:visited {
    background: 0 0;
    color: #313538;
    font-weight: 500
}

.dropdown-menu>li.active>a:hover {
    background: #f5f8fa;
    color: #313538
}

.dropdown-menu>li.danger>a,
.dropdown-menu>li.danger>a:active,
.dropdown-menu>li.danger>a:visited {
    color: #e66b55
}

.dropdown-menu>li.danger>a:hover {
    background: #e66b55;
    color: #fff
}

.dropdown-menu>li.danger.active>a:hover {
    background: #e66b55;
    color: #fff
}

.dropdown-menu>li.divider {
    background-color: rgba(0, 0, 0, .1);
    margin: 5px 0
}

.dropdown-menu>li:first-child {
    margin-top: 0
}

.dropdown-menu>li.divider:first-child {
    display: none
}

.dropdown-menu>li.divider:last-child {
    display: none
}

.dropdown-menu:after,
.dropdown-menu:before {
    bottom: 100%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}



.breadcrumb {
    border-radius: 0;
    margin: 0;
    background: #fff;
    border-bottom: 1px solid #ccc;
    display: none;
    padding: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.breadcrumb li {
    padding: 0;
    margin: 0;
    font-size: 1.1em
}

.breadcrumb li.active {
    color: #909599
}

.form-control-static>label {
    margin-bottom: 0
}

.tooltip {
    text-transform: none;
    letter-spacing: 0
}

.alert {
    border-radius: 3px
}

.alert ol,
.alert ul {
    padding-left: 15px
}

.modal-backdrop {
    bottom: 0;
    position: fixed
}

body.modal-open .select2-drop-mask {
    z-index: 9998
}

body.modal-open #ui-datepicker-div,
body.modal-open .select2-drop {
    z-index: 9999 !important
}

body.modal-open .select2-search {
    z-index: 10000
}

.modal-content {
    box-shadow: 0 31px 41px 0 rgba(33, 43, 54, .2), 0 2px 16px 0 rgba(33, 43, 54, .08)
}

.modal-content>form {
    margin: 0
}

.modal-body>ol.numbered {
    padding: 0 15px
}

.modal-header {
    border-color: #dfe3e8;
    padding: 18px 24px 14px 24px
}

.modal-header h4 {
    font-family: ColfaxWeb, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #313538
}

.modal-body .close-btn .close,
.modal-header .close {
    display: block;
    height: 26px;
    line-height: 26px;
    margin-top: -2px;
    text-align: center;
    width: 20px;
    opacity: 1;
    color: #879099;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.modal-body .close-btn .close:hover,
.modal-header .close:hover {
    color: #232e38
}

.modal-footer {
    padding: 10px 15px;
    background: #fff;
    border-top: none;
    box-shadow: none;
    border-radius: 0 0 6px 6px
}

.modal-footer .left {
    float: left;
    padding: 7px 0;
    color: #777
}

.modal-footer .left strong {
    color: #353940
}

.modal-footer .left a.danger {
    color: #e66b55
}

.modal-footer .left.green {
    color: #54bf83
}

.modal-footer.modal-btn {
    padding: 0
}

.modal-footer.modal-btn .btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    border-radius: 0 0 4px 4px
}

.modal-footer.modal-btn .btn-link:focus,
.modal-footer.modal-btn .btn-link:hover {
    background: #eee
}

.modal-xs .modal-dialog {
    width: 200px;
    margin-left: auto;
    margin-right: auto
}

.modal-header.with-tabs {
    padding: 0;
    min-height: 0;
    border-bottom: none
}

.modal-header.with-tabs .close {
    margin-right: 15px;
    margin-top: 15px
}

.modal-header.with-tabs .nav-tabs {
    margin-bottom: 0
}

form {
    margin: 0 0 15px
}

.textarea-2-lines .expandingText,
.textarea-2-lines textarea {
    min-height: 54px
}

form.nomargin {
    margin: 0
}


.form-control:focus {
    background: #fff none repeat scroll 0 0;
    border-color: #009e74;
    outline: 0;
    box-shadow: inset 0 1px 2px 0 rgba(102, 113, 123, .21)
}

.form-control.hasDatepicker[readonly] {
    background-color: #fff;
    cursor: text
}

.padded-label {
    padding-top: 7px
}



.credit-card-holder {
    max-width: 400px;
    margin: 0
}

.credit-card-holder .card-logos {
    text-align: right
}

.credit-card-holder .card-logos.brand-selected {
    opacity: .1
}

.centered .credit-card-holder {
    margin: 0 auto
}

.credit-card .input-card-number .icon {
    padding-top: 8px
}

.credit-card .input-card-number .type {
    position: absolute;
    z-index: 10;
    right: 5px;
    top: 0;
    bottom: 0;
    width: 40px;
    background-size: 40px 25px;
    background-position: center center;
    background-repeat: no-repeat
}


.credit-card .input-expiry .icon {
    padding-top: 6px
}

.credit-card .input-cvc .icon {
    padding-top: 6px
}

.floating-label-input {
    position: relative
}

.floating-label-input input:disabled~.floating-label,
.floating-label-input input:focus~.floating-label,
.floating-label-input input:valid~.floating-label {
    top: 4px;
    bottom: 10px;
    left: 0;
    font-size: 11px;
    opacity: 1
}


body,
html {
    margin: 0;
    padding: 0;
    background: #f3f5f7;
    background: -moz-linear-gradient(180deg, #f3f5f7 0, #dfe3e8 100%);
    background: -webkit-linear-gradient(180deg, #f3f5f7 0, #dfe3e8 100%);
    background: linear-gradient(180deg, #f3f5f7 0, #dfe3e8 100%)
}

.navbar.navbar-invoiced {
    background: #3d4c59
}

.navbar.navbar-invoiced .navbar-brand {
    line-height: 50px;
    padding: 0 20px;
    margin: 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto Condensed', 'Open Sans', serif
}

.navbar.navbar-invoiced .nav-link {
    color: #fff;
    font-size: .8rem
}

.navbar.navbar-invoiced .nav-link:hover {
    opacity: .8
}

.lead {
    font-size: 18px;
    color: #777
}

.btn-link,
a {
    text-decoration: none
}

.learn-more {
    position: relative;
    width: 100%;
    color: #fff;
    padding: 0;
    margin: 0;
    background: #232e38;
    background: -moz-linear-gradient(180deg, #232e38 0, #3d4c59 100%);
    background: -webkit-linear-gradient(180deg, #232e38 0, #3d4c59 100%);
    background: linear-gradient(180deg, #232e38 0, #3d4c59 100%)
}

.learn-more .container {
    padding: 0;
    margin: 0 auto
}

.learn-more .container .inner {
    max-width: 715px;
    padding: 20px 30px 30px;
    margin: 0
}

.learn-more h1,
.learn-more h2,
.learn-more h3,
.learn-more h4,
.learn-more h5,
.learn-more h6 {
    color: #fff
}

.learn-more h1 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px
}

.learn-more h2 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 16px;
    color: #ddd
}

.learn-more p {
    color: #ddd;
    font-size: 14px;
    line-height: 1.65em
}

.learn-more .btn-link {
    color: #fff;
    padding-top: 4px
}

.learn-more .btn-link:hover {
    color: #fff
}

#theForm {
    padding: 0 !important;
    margin: 0 !important
}