
footer {
    margin: 45px 0 0;
    text-align: left;
    z-index: 1;
    position: relative;
    padding-top: 30px;
    border-top: 2px solid #ddd;
    font-size: 16px;
    padding-bottom: 60px;
    background: #dfe3e8
}

footer .category-title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    color: #5e6a73;
    letter-spacing: 1px;
    margin: 25px 0 10px
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

footer ul li {
    list-style-type: none;
    padding: 0;
    margin: 3px 0 0
}

footer ul li a,
footer ul li a:active,
footer ul li a:not(.btn),
footer ul li a:visited {
    color: #3d4c59;
    padding: 5px 0;
    display: block;
    outline: 0
}

footer ul li a:hover {
    color: #10806f
}

footer .made-by {
    margin: 5px 0 0
}

footer .made-by a,
footer .made-by a:active,
footer .made-by a:not(.btn),
footer .made-by a:visited {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase
}

footer .copyright {
    margin: 25px 0 10px;
    font-size: .9em;
    color: #879099
}

